<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.mht.system.dao.AdminPermissionDao">
    <resultMap id="baseResultMap" type="AdminPermission">
        <id column="id" property="id"/>
        <result column="title" property="title" javaType="string"/>
        <result column="req_url" property="reqUrl" javaType="string"/>
        <result column="password" property="password" javaType="string"/>
        <result column="percode" property="percode" javaType="string"/>
        <result column="available" property="available" javaType="Boolean"/>
    </resultMap>

    <select id="getAllPermissionsByRoleId" resultMap = "baseResultMap">
        SELECT p.id as id,p.title as title ,p.req_url as req_url,p.percode as percode,
               p.available as available
        FROM admin_role_permission as rp
        LEFT JOIN admin_permission as p
        on p.id = rp.p_id
        where rp.r_id = #{id}
    </select>
</mapper>