<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.mht.system.dao.AdminLogDao">
    <resultMap id="baseResultMap" type="com.lee.mht.system.entity.AdminLog">
        <id column="id" property="id"/>
        <result column="type" property="type" javaType="string"/>
        <result column="operator" property="operator" javaType="string"/>
        <result column="operator_id" property="operatorId" javaType="Integer"/>
        <result column="ip" property="ip" javaType="string"/>
        <result column="action" property="action" javaType="string"/>
        <result column="method" property="method" javaType="string"/>
        <result column="data" property="data" javaType="string"/>
        <result column="result" property="result" javaType="string"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="time_consuming" property="timeConsuming" javaType="string"/>
    </resultMap>
    <insert id="batchSaveLogs">
        INSERT INTO admin_log(type, operator,operator_id, ip, action, method, data, result, createtime, time_consuming)
        VALUES
        <foreach collection="logs" item="log" separator=",">
            (#{log.type}, #{log.operator},#{log.operatorId}, #{log.ip}, #{log.action}, #{log.method},
            #{log.data},#{log.result},
            #{log.createtime}, #{log.timeConsuming})
        </foreach>

    </insert>
    <select id="getAllLog" resultType="com.lee.mht.system.entity.AdminLog">
        SELECT id,id, type, operator,operator_id, ip, action, method, data, result, createtime, time_consuming FROM
        admin_log
        <where>
            <if test="operator != null and ! &quot;&quot;.equals(operator)">
                <bind name="myOperator" value="'%' + operator + '%'"/>
                and operator like #{myOperator}
            </if>
            <if test="action != null and ! &quot;&quot;.equals(action)">
                <bind name="myAction" value="'%' + action + '%'"/>
                and action like #{myAction}
            </if>
            <if test="result != null and ! &quot;&quot;.equals(result)">
                and result = #{result}
            </if>
            <if test="beginTime != null and endTime != null">
                AND createtime BETWEEN #{beginTime} AND #{endTime}
            </if>
            <if test="(beginTime == null ) and endTime != null ">
                and createtime &lt;= #{endTime}
            </if>
            <if test="beginTime != null and endTime == null">
                and createtime &gt;= #{beginTime}
            </if>
        </where>
        ORDER BY createtime DESC
    </select>

    <delete id="deleteAdminLogByIds">
        DELETE FROM admin_log
        WHERE id in
        <foreach collection="ids" item="id" index="no" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


</mapper>